<!-- Consulte o componente ts do product-create -->

<!--<p [id]="proplegal">product-create works!</p> <!-- O "[id]" é um attribute binding. O id lá na inspeção de elemento vai ser "qualquer" e não "proplegal"  -->

<!--<button (click)="fazerAlgo()">Fazer Algo</button> <!-- O "(click)" é um event binding-->

<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>

    <form action="">
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name"> <!--[(ngModel)] = twoway data binding-->
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createProduct()" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>
